body {
    width: 90vw;
    margin: auto;
    /* background-color: #f5f5dc; */
    background-color: #708090;
    color: white;
    margin-bottom: 150px;
}

input {
    margin-bottom: 15px;
}

button {
    /* Disable double tap to zoom on buttons */
    touch-action: manipulation;
}

a {
    color: #00008b;
}

a:hover {
    text-decoration: underline;
}

#link {
    white-space: initial;
    word-wrap: break-word
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-flash {
    padding: 15px;
    font-size: 1.2em;
    margin-bottom: 15px;
    width: 80vw;
}

.flash-error {
    background-color: #fb6565;
    color: white;
}

.flash-success {
    background-color: #387b54;
    color: white;
}

.grid-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

.grid-item {
    background-color: white;
    margin-right: 5px;
    padding: 10px;
    height: 5rem;
    width: 5rem;
}

.grid-item-letter {
    font-size: 22px;
    text-align: center;
    line-height: 125%;
    font-weight: bold;
    color: black;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 5px;
    max-width: 90vw;
}

.keyboard-key {
    margin-right: 0.5em;
    height: 4rem;
    width: 7vw;
    text-align: center;
    padding: 0px;
}

.special-key {
    background-color: #656874;
    color: white;
}

.green {
    background-color: green;
    color: white;
}

.orange {
    background-color: orange;
    color: white;
}

.gray {
    background-color: #696969;
    color: white;
}

@media only screen and (min-width:768px){
    /* Make the keyboard keys a bit narrower on larger screens */
   .keyboard-key {
       width: 3vw;
   }
}
