body {
    margin-top: 50px;
    background-color: #f5f5dc;
    margin-bottom: 150px;
}

input {
    margin-bottom: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-flash {
    padding: 15px;
    font-size: 1.2em;
    margin-bottom: 15px;
    width: 50rem;
}

.flash-error {
    background-color: #fb6565;
    color: white;
}

.flash-success {
    background-color: #387b54;
    color: white;
}

.grid-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

.grid-item {
    border: 1px solid #ccc;
    margin-right: 5px;
    padding: 10px;
    height: 5rem;
    width: 5rem;
}

.grid-item-letter {
    font-size: 22px;
    text-align: center;
    line-height: 125%;
    font-weight: bold;
}

.grid-item.green {
    background-color: green;
    color: white;
}

.grid-item.orange {
    background-color: orange;
    color: white;
}

.grid-item.gray {
    background-color: gray;
    color: white;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 5px;
}

.keyboard-key {
    margin-right: 0.5em;
    /* padding: 0.5em 0.75em; */
}

.special-key {
    background-color: #656874;
    color: white;
}
